body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border-width: 1px;
  border-color: black;
}
.container {
    height: 70px;
    text-align: left;
     padding-left: 15px;
    margin-left: 15px;
  }
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
  margin-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
 #nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a  {
  font-size: 1em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HOME PAGE */
h2{
  text-align: center;
  padding-bottom: 30px;
}

p{
  margin-bottom: 50px;
  background-color: grey;
  color: black;
}

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 30px;
  background-color: grey;
  color: black;
  padding-bottom: 10px;
  margin-left: 13px;
  margin-right: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile {
  font-size: 1.1em;
  text-align: left;
  margin-top: -15px;
}
.menu-item-tile span {
  font-size: .6em;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
    height: 70px;
    text-align: left;
    padding-left: 15px;
    margin-left: 15px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container {
    height: 70px;
    text-align: left;
     padding-left: 15px;
    margin-left: 15px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    height: 70px;
    text-align: left;
     padding-left: 15px;
    margin-left: 15px;
  }
  }

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
   .container {
    height: 70px;
    text-align: left;
     padding-left: 15px;
    margin-left: 15px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    border: 1px;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .container {
    height: 70px;
    text-align: left;
     padding-left: 15px;
    margin-left: 15px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 5vw;
  }
  /* End Header */
  
  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



